%html
  %head
    %title Pitsapalvelu
    %link{:rel=>"stylesheet", :type=>"text/css", :href=>"/stylesheets/style.css"}
  %body
    #navigointi
      %ul
        %li
          %a{:href=>'/'}Etusivu
        %li
          %a{:href=>'/admin'}Admin Etusivu
        %li
          %a{:href=>'/admin/hinnasto'}Hinnaston muokkaus
        %li
          %a{:href=>'/admin/tilaukset'}Tilaukset
    #sisalto
      =yield
    #pohja
      Tsoha 2011
