%b Pitserian oma sivu

%br
%br Odottavat tilaukset:
-if @tilaukset.empty?
  %br Ei tilauksia
-else
  %a{:href=>"/admin/tilaus_lista"}Tulostettava lista
-@tilaukset.each do |tilaus|
  %p
    %a{:href=>"/admin/tilaus/#{tilaus['id']}"}= tilaus['toimitusaika'].strftime("%H:%M")
    %br
    = tilaus['nimi']
    %br
    = tilaus['kotiinkuljetus']?"Kotiinkuljetus":"Nouto"
    %table
      -tilaus[:ostot].each do |ostos|
        %tr
          %td= @idt[:tuote][ostos['tuote_id']]
          %td
            -ostos[:lisukkeet].each do |lisuke|
              =@idt[:lisuke][lisuke['lisuke_id']]

