-@tilaukset.each do |tilaus|
  %p
    = tilaus['toimitusaika'].strftime("%H:%M")
    %br
    = tilaus['nimi']
    %br
    = tilaus['kotiinkuljetus']?"Kotiinkuljetus":"Nouto"
    %table
      -tilaus[:ostot].each do |ostos|
        %tr
          %td= @tuote_idt[ostos['tuote_id']]
          %td
            -ostos[:lisukkeet].each do |lisuke|
              =@lisuke_idt[lisuke[:lisuke_id]]
  %br -----------------------------------
